#id_work_days {
    height: 100%;
    border: none;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 0 20px 0;
}

#id_work_days::-moz-focus-inner {
    border: 0;
}

#id_work_days:focus {
    outline: none;
}

#id_work_days option {
    width: 80%;
    font-size: 1.2em;
    padding: 10px 0;
    text-align: center;
    /* margin-right: 20px; */
    margin: 3px 20px;
    /* display: inline-block; */
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 30px;
    color: #000;
}


/* #id_work_days option:nth-child(4) {
    display: inline-block;
} */